@{
    ViewBag.Title = "About Tshilanda";
}
<h2>@ViewBag.Title</h2>
<h4>Something about Tshilanda</h4>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <h2>Bio</h2>
            <p>
                My name is Tshilanda Plamedi Muamba. I am 20 years of age. I am a second year student studying BIT Information Systems at the
                University of Pretoria. I enjoy reading and listening to music in my spare time. I love Information technology because it is exciting
                and opens many doors for the future. I intend to pursue my postgrad studies and further my study in informatics.
            </p>
        </div>

        <div class="col-md-4 col-lg-4">
            <h2>Tshilanda</h2>
            <img src="~/Bio Photo/IMG-20210111-WA0018.jpg"   height="250" alt="Bio Photo" />
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

